#header.tableth {}

#header.tabletv {
    height: 54px;
    background: white;
    .logotipo {
        width: 130px;
        position: relative;
        z-index: 99;
    }
    .register {
        a {
            .button {
                padding: 0 10px;
                height: 30px;
                line-height: 24px;
            }
        }
    }
}