.button.center {
    position: relative;
    width: 200px;
    margin: 0 auto!important;
    top: 50px;
    text-decoration: none;
}

.button {
    padding: 0 20px;
    height: 36px;
    border-radius: 20px;
    color: white;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px;
    border: 2px solid $verde-fuerte;
    box-sizing: border-box;
    color: $verde-fuerte;
    background-color: transparent;
    &:hover {
        color: white;
        background-color: $verde-fuerte;
    }
    span.icon {
        margin-right: 5px;
        position: relative;
        top: 1px;
    }
}