.tableth {}

.tabletv {
    .containerPage {
        padding-top: 105px;
        .bgimg-1 {
            .caption {
                .logo {}
            }
        }
        .firstP {
            .newUser {
                .willCard {
                    width: 32%;
                    padding: 0 12px;
                }
            }
        }
    }
}