#footer.phoneh {
    .columns {
        .col {
            width: 50%;
            height: 100px;
        }
    }
}

#footer.phonev {
    .columns {
        .col {
            width: 1000%;
        }
    }
}